/* defaults */
:root {
  --font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --fore: #efefef;
  --back: #262626;
  --action: #88c;
  --actionh: #66d;
}

@media (prefers-color-scheme: light) {

  :root {
    --fore: #262626;
    --back: #efefef;
    --actionh: #bbe;
  }

}

/* show or hide when JS enabled */
.jsshow, .jsenabled .jshide {
  display: none !important;
}

.jsenabled .jsshow {
  display: unset !important;
}

/* core styles */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font);
  font-size: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: calc(100vw - 12em) 12em;
  grid-template-rows: 3em auto;
  grid-gap: 0;
  color: var(--fore);
  background-color: var(--back);
}

header {
  grid-column-start: span 2;
  display: flex;
  align-content: center;
  padding: 0;
  margin: 0;
  border: 2px solid var(--back);
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  padding: 0 1em;
  margin: 0;
  line-height: 1.7;
}

input, select, option, button, a.button {
  width: 8em;
  font-family: inherit;
  font-size: 1em;
  padding: 0 0.4em;
  margin: 0 0.5em;
  color: var(--fore);
  background-color: var(--back);
  border: 0 none;
  outline: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, a.button {
  display: block;
  width: 6em;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.2;
  background-color: var(--action);
  border-radius: 3px;
}

input:focus, select:focus {
  background-color: var(--actionh);
}

select, button {
  cursor: pointer;
}

button:hover, button:focus,
a.button:hover, a.button:focus {
  background-color: var(--actionh);
  text-decoration: none;
}

header button, header a.button {
  margin-inline-start: auto;
}

header a:link, header a:visited {
  color: var(--fore);
  text-decoration: none;
}

header a:hover, header a:focus {
  text-decoration: underline;
}

#title {
  width: 12em;
}

#operator, #operatorlist, #operatorlist li {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#operatorlist li:empty, #operatorlist .self {
  display: none;
}

#operator, #operatorlist li {
  margin: 4px 0;
  padding: 3px 3px 3px 1.6em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M911 784l-3 4a529 529 0 01-408 202c-154 0-299-72-408-202l-3-4 1-5c21-137 92-247 201-310l8-5 6 7a267 267 0 00390 0l6-7 8 5a420 420 0 01201 310l1 5zM500 499a245 245 0 10-1-490 245 245 0 001 490z" fill="grey" /></svg>');
  background-size: 1.2em;
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

#operatorlist li {
  color: var(--action);
}

.CodeMirror, pre {
  width: 100%;
  height: 100%;
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}

pre {
  padding: 0.2em 0 0.2em 2em;
  overflow: auto;
}
