/* defaults */
:root {
  --font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --fore: #efefef;
  --back: #262626;
  --action: #88c;
  --actionh: #66d;
  --header: 3em;
  --aside: 10em;
}

@media (prefers-color-scheme: light) {

  :root {
    --fore: #262626;
    --back: #efefef;
    --actionh: #bbe;
  }

}

/* show or hide when JS enabled */
.jsshow, .jsenabled .jshide {
  display: none !important;
}

.jsenabled .jsshow {
  display: block !important;
}

/* layout */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font);
  font-size: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: calc(100vw - var(--aside)) var(--aside);
  grid-template-rows: var(--header) calc(100vh - var(--header));
  grid-gap: 0;
  color: var(--fore);
  background-color: var(--back);
}

.full {
  grid-column-start: span 2;
  overflow: auto;
}

header {
  display: flex;
  align-content: center;
  padding: 0;
  margin: 0;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

aside p {
  font-size: 0.8em;
  margin: 0;
  margin-block-start: auto;
  margin-block-end: 0.5em;
}

aside time {
  display: block;
}

h1 {
  font-size: 1.4em;
  font-weight: normal;
  padding: 0.4em;
  margin: 0;
}

/* fields */
input, select, option, button, a.button {
  width: 8em;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: 0.5em;
  margin: 2px;
  color: var(--fore);
  background-color: var(--back);
  border: 0 none;
  outline: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, a.button {
  display: block;
  width: auto;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background-color: var(--action);
  border-radius: 3px;
}

input:focus, select:focus {
  background-color: var(--actionh);
}

select, button {
  cursor: pointer;
}

button:hover, button:focus,
a.button:hover, a.button:focus {
  background-color: var(--actionh);
  text-decoration: none;
}

header button, header a.button {
  margin-inline-start: auto;
}

header a:link, header a:visited {
  color: var(--fore);
  text-decoration: none;
}

header a:hover, header a:focus {
  text-decoration: underline;
}

#title {
  width: 22vw;
}

/* recent items */
#recent, #recent li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#recent {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  perspective: 400px;
}

#recent li {
  flex: 1 1 16em;
  margin: 0.5em;
  background-color: var(--action);
  border-radius: 5px;
  transform: rotateX(0deg);
  transition: all 0.2s ease-in-out;
}

#recent li:hover, #recent li:focus-within {
  transform: rotateX(8deg);
  background-color: var(--actionh);
}

#recent a {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
  padding: 0.5em 1em;
  color: var(--fore);
}

#recent a * {
  padding: 0;
  margin: 0;
}

#recent h2 {
  font-size: 1.6em;
  font-weight: normal;
}

#recent .mode {
  margin-block-end: 1em;
}

#recent .time {
  margin-block-start: auto;
}

/* operators */
#operator, #operatorlist, #operatorlist li {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#operatorlist li:empty, #operatorlist .self {
  display: none;
}

#operator, #operatorlist li {
  margin: 0;
  padding: 0.3em 0.3em 0.3em 1.6em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M911 784l-3 4a529 529 0 01-408 202c-154 0-299-72-408-202l-3-4 1-5c21-137 92-247 201-310l8-5 6 7a267 267 0 00390 0l6-7 8 5a420 420 0 01201 310l1 5zM500 499a245 245 0 10-1-490 245 245 0 001 490z" fill="rgb(120,120,120)" /></svg>');
  background-size: 1.2em;
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

#operatorlist li {
  color: var(--action);
}

/* code */
.CodeMirror, pre {
  width: 100%;
  height: 100%;
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}

pre {
  padding: 0.2em 0 0.2em 2em;
  overflow: auto;
}
